/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}

.show h2,h1 { font-family: 'Anton', sans-serif; }
.header-image {
  position: relative;
}
.jumbotron {
  padding-top: 12px;
}
h2 em {
  font-style: normal;
  margin-right: 0.5em;
  color: #999;
  color: #C0995B;
}
.play:after {
  content: '\25b6';
  font-size: 70px;
  cursor: pointer;
  position: absolute;
  left: 42%;
  top: 39%;
  color: rgba(255,255,255,0.5);
  text-shadow: 0 0 5px rgba(0,0,128,0.5);
}
.img-full {
  width: 100%;
  min-height: 200px;
}
.lead .row > div {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}
#title small {
  float: right;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}
@media (max-width: 480px) {
  body{font-size: 10px;}
}

@media (max-width: 768px) {
  .show-title {
    font-size: 100%;
  }
}

.show-title {
  text-align: right;
}
h1 {
  font-size: 300%;
}
h1 small {
  font-size: 45%;
}
#title {
  line-height: 0.9em;
  padding: 0;
  margin: 0;
  color: rgba(0, 188, 140, 0.95);
  text-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.copy p {
}
.header-image .lead {
  text-align: right;
  position: absolute;
  bottom: 0px;
  text-shadow: 3px 3px 4px black;
  font-size:195%;
  margin-bottom: 0.5em;
}
.bleed-up {
  background: rgba(48, 48, 48, 0.5);
  margin-top: -140px;
  z-index: 4;
  display: block;
  position: relative;
}
.break {
  height: 1.5em;
  width: 100%;
  background: rgba(0, 188, 140, 0.65);
}
#lead-in {
  position: absolute;
  top: 0;
  right: 0;
}
.header-image {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
